services:
  # --- DATABASE ---
  database:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mairie360-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: core
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # --- LIQUIBASE ---
  liquibase:
    build:
      context: ./liquibase
      dockerfile: Dockerfile
    container_name: mairie360-liquibase
    depends_on:
      database:
        condition: service_healthy # Attend que la DB soit prête (comme l'initContainer K8s)
    environment:
      # On utilise les mêmes noms de variables que dans le job.yaml K8s
      - LIQUIBASE_COMMAND_URL=jdbc:postgresql://database:5432/core
      - LIQUIBASE_COMMAND_USERNAME=postgres
      - LIQUIBASE_COMMAND_PASSWORD=password
      - LIQUIBASE_SEARCH_PATH=/liquibase/changelog
    command: >
      --changelog-file=changelog.xml
      update