name: Database CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  call-database-cicd:
    uses: mairie360/CICD/.github/workflows/database_cicd.yml@main
    with:
      package_name: database
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
